@model Web_Odev.Models.Kuaför

@{
    ViewData["Title"] = "Kuaför Bilgileri";
}

<h1>Kuaför Bilgileri</h1>

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Ad)</th>
            <td>@Html.DisplayFor(model => model.Ad)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Adres)</th>
            <td>@Html.DisplayFor(model => model.Adres)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CalismaSaatleri)</th>
            <td>@Html.DisplayFor(model => model.CalismaSaatleri)</td>
        </tr>
    </table>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Düzenle</a>
}
else
{
    <p>Kuaför bilgisi bulunamadı.</p>
    <a asp-action="Create" class="btn btn-primary">Kuaför Bilgisi Ekle</a>
}